body {
  background-color: #161920;
  padding: 0px;
  margin: 0px;
  color: #cfcece;
}

header {
  background-color: #213146;
  padding: 30px 0px 30px 30px;
  text-align: left;
  user-select: none;
}

.companyname {
  font-family: 'Arial light';
  font-size: 80px;
  color: #cfcece;
  letter-spacing: 10px;
  display: inline-block;
}

.navbar {
  display: inline-block;
  padding-left: 40px;
  position:relative;
  top:-20px;

}

.navbtn {
  position: relative;
  display: inline-block;
  margin: auto 20px;
  font-family: 'Arial light';
  background-color:#365073;
  color:#cfcece;
  width:140px;
  padding:20px 0px;
  font-size: 20px;
  letter-spacing:1px;
  text-align: center;
  user-select: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.navbtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.navbtn:active {
  box-shadow:0px 0px;
}

.content{
  /*background-color: aqua;*/
  text-align:left;
  padding:10px 100px 0px 100px;
  margin:0 auto 0 auto;
  width:40%;
  font-family: tahoma;
}

.content .title{
  font-size: 40px;
  /*Filler color */
  color:rgb(0, 95, 219);
  margin-bottom:30px;
}

.content .text{
  color:white;
}

.content a{
  color:rgb(0, 85, 196);
}

.content a:visited{
  color:rgb(0, 85, 196);
}

.coverImage {
  width: 90%;
}

.likeButton{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  margin:10px;
}

.dislikeButton{
  background-color: #b43737;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  margin:10px;
}

.skipButton{
  background-color: #373fb4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  margin:10px;
}

.likeButton:hover{
  background-color: #326e34;
}

.dislikeButton:hover{
  background-color: #802828;
}

.skipButton:hover{
  background-color: #272d7c;
}

.likeButton:active{
  background-color: #214722;
}

.dislikeButton:active{
  background-color: #611e1e;
}

.skipButton:active{
  background-color: #1c1f50;
}